# ESP-IDF build artifacts
build/
*.bin
*.elf
*.map
*.log

# SDK configuration
sdkconfig
sdkconfig.old

# Editor folders
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
dependencies.lock
components/lvgl/

